<!DOCTYPE HTML>
<head> 
    <title>Chess!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        </style>
</head>
<body>
    <h3 th:text="${turn}"></h3>
    <table >
        <tr>
            <th></th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>E</th>
            <th>F</th>
            <th>G</th>
            <th>H</th>
        </tr>
        <tr>
            <th>1</th>
            <td th:text="${A1}"></td>
            <td th:text="${B1}"></td>
            <td th:text="${C1}"></td>
            <td th:text="${D1}"></td>
            <td th:text="${E1}"></td>
            <td th:text="${F1}"></td>
            <td th:text="${G1}"></td>
            <td th:text="${H1}"></td>
        </tr>
        <tr>
            <th>2</th>
            <td th:text="${A2}"></td>
            <td th:text="${B2}"></td>
            <td th:text="${C2}"></td>
            <td th:text="${D2}"></td>
            <td th:text="${E2}"></td>
            <td th:text="${F2}"></td>
            <td th:text="${G2}"></td>
            <td th:text="${H2}"></td>
        </tr>
        <tr>
            <th>3</th>
            <td th:text="${A3}"></td>
            <td th:text="${B3}"></td>
            <td th:text="${C3}"></td>
            <td th:text="${D3}"></td>
            <td th:text="${E3}"></td>
            <td th:text="${F3}"></td>
            <td th:text="${G3}"></td>
            <td th:text="${H3}"></td>
        </tr>
        <tr>
            <th>4</th>
            <td th:text="${A4}"></td>
            <td th:text="${B4}"></td>
            <td th:text="${C4}"></td>
            <td th:text="${D4}"></td>
            <td th:text="${E4}"></td>
            <td th:text="${F4}"></td>
            <td th:text="${G4}"></td>
            <td th:text="${H4}"></td>
        </tr>
        <tr>
            <th>5</th>
            <td th:text="${A5}"></td>
            <td th:text="${B5}"></td>
            <td th:text="${C5}"></td>
            <td th:text="${D5}"></td>
            <td th:text="${E5}"></td>
            <td th:text="${F5}"></td>
            <td th:text="${G5}"></td>
            <td th:text="${H5}"></td>
        </tr>
        <tr>
            <th>6</th>
            <td th:text="${A6}"></td>
            <td th:text="${B6}"></td>
            <td th:text="${C6}"></td>
            <td th:text="${D6}"></td>
            <td th:text="${E6}"></td>
            <td th:text="${F6}"></td>
            <td th:text="${G6}"></td>
            <td th:text="${H6}"></td>
        </tr>
        <tr>
            <th>7</th>
            <td th:text="${A7}"></td>
            <td th:text="${B7}"></td>
            <td th:text="${C7}"></td>
            <td th:text="${D7}"></td>
            <td th:text="${E7}"></td>
            <td th:text="${F7}"></td>
            <td th:text="${G7}"></td>
            <td th:text="${H7}"></td>
        </tr>
        <tr>
            <th>8</th>
            <td th:text="${A8}"></td>
            <td th:text="${B8}"></td>
            <td th:text="${C8}"></td>
            <td th:text="${D8}"></td>
            <td th:text="${E8}"></td>
            <td th:text="${F8}"></td>
            <td th:text="${G8}"></td>
            <td th:text="${H8}"></td>
        </tr>
    </table>
    <form action="/chess" method="post" enctype="application/x-www-form-urlencoded">
        <label>your move:</label>
        <input type="text"  id="move" name="move"/><br><br>
        <input type="submit" value="Submit" />
        <input type="hidden" id="gameId" name="gameId" th:value="${gameId}">
    </form>
    <p th:text="${pcMove}"></p>
    <p th:text="${answer}"></p>
</body>
</html>

<!--
    <form action="#" th:action="@{/chess}" th:object="${move}"  method="post">
        <label for="fmove">your move:</label>
        <input type="text"  th:field="*{content}" /><br><br>
        <input type="submit" value="Submit" />
    </form>
-->